# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.orders (2).iml
# Datasource local storage ignored files
/../../../../../../../:\developer\AiTeko.Orders\orders (2)\.idea\.idea.orders (2).dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
