# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.orders.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\developer\AiTeko.Orders\orders\.idea\.idea.orders.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
